<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Conversations</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Conversations</h1>
        <% if (conversations == '\n') { %>
            <p> No conversations </p>
        <% } else { %>
            <ol>
                <% for (let conversation of conversations) { %>
                <li><%= conversation %></li>
                <% } %>
            </ol>
        <% } %>

        <form method="POST" action="/?_method=DELETE">
            <button type="submit">Clear</button>
        </form>

    </body>
</html>
