* {
    box-sizing: border-box;
}

.main {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


h1 {
    margin: 0;
}

button {
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
}


li {
    margin: 10px 0;

    & span:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    & i:hover {
        color: red;
        cursor: pointer;
    }
}


.container {

    & a {

        &:visited {
            color: green;
        }

        & i {
            margin-left: 0.5em;
        }
    }
}
